<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="default">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://edt.1c.ru/downloads/releases/ruby/2022.1/"/>
            <unit id="com._1c.g5.aef.feature.feature.group" version="1.15.0.v202207271030"/>
            <unit id="com._1c.g5.commons.feature.group" version="3.5.0.v202205241453"/>
            <unit id="com._1c.g5.edt.license.feature.group" version="2.0.0.v1"/>
            <unit id="com._1c.g5.gumtree.feature.feature.group" version="3.3.0.v202112241342"/>
            <unit id="com._1c.g5.ides.feature.group" version="6.5.0.v202205251640"/>
            <unit id="com._1c.g5.ides.monitoring.feature.feature.group" version="0.7.0.v202101161446"/>
            <unit id="com._1c.g5.jface.feature.feature.group" version="2.1.500.v202205241239"/>
            <unit id="com._1c.g5.license.feature.group" version="1.0.0.v20150216-1700"/>
            <unit id="com._1c.g5.lwt.feature.feature.group" version="5.5.0.v202205241239"/>
            <unit id="com._1c.g5.properties.ui.feature.feature.group" version="1.15.0.v202207271030"/>
            <unit id="com._1c.g5.v8.dt.bp.scheme.feature.feature.group" version="1.19.0.v202207271030"/>
            <unit id="com._1c.g5.v8.dt.cli.feature.feature.group" version="0.7.0.v202206270405"/>
            <unit id="com._1c.g5.v8.dt.diagram.framework.feature.feature.group" version="4.1.0.v202203301136"/>
            <unit id="com._1c.g5.v8.dt.erd.feature.feature.group" version="3.16.0.v202207271030"/>
            <unit id="com._1c.g5.v8.dt.eventhandlers.feature.feature.group" version="1.19.0.v202207271030"/>
            <unit id="com._1c.g5.v8.dt.extension.feature.group" version="1.15.0.v202207271030"/>
            <unit id="com._1c.g5.v8.dt.feature.feature.group" version="1.26.0.v202207271030"/>
            <unit id="com._1c.g5.v8.dt.geographicalschema.feature.feature.group" version="2.16.0.v202207271030"/>
            <unit id="com._1c.g5.v8.dt.handly.feature.feature.group" version="1.5.0.2"/>
            <unit id="com._1c.g5.v8.dt.markermatcher.feature.feature.group" version="1.1.0.v201912091233"/>
            <unit id="com._1c.g5.v8.dt.platform.services.mobile.feature.feature.group" version="1.18.0.v202207271030"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.10.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.11.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.12.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.13.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.14.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.15.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.16.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.17.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.18.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.19.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.20.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.21.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.8.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.platform.support_v8.3.9.feature.feature.group" version="0.17.0.v202206221227"/>
            <unit id="com._1c.g5.v8.dt.product.docs.feature.feature.group" version="1.26.0.v202207190646"/>
            <unit id="com._1c.g5.v8.dt.product.feature.feature.group" version="1.26.1.2"/>
            <unit id="com._1c.g5.v8.dt.profiling.feature.feature.group" version="3.17.0.v202207271030"/>
            <unit id="com._1c.g5.v8.dt.rcp" version="1.26.1.2"/>
            <unit id="com._1c.g5.v8.dt.ring.feature.feature.group" version="1.26.1.2"/>
            <unit id="com._1c.g5.v8.dt.testing.feature.group" version="5.13.0.v202207271030"/>
            <unit id="com._1c.g5.v8.dt.thirdparty.feature.group" version="1.26.1.2"/>
            <unit id="com._1c.g5.v8.dt.wst.feature.group" version="4.6.0.2"/>
            <unit id="com._1c.g5.v8.dt.xtext.runtime.feature.group" version="2.24.0.2"/>
            <unit id="com._1c.g5.v8.dt.xtext.ui.feature.group" version="2.24.0.2"/>
            <unit id="com._1c.g5.wiring.feature.feature.group" version="2.3.0.v202203290322"/>
            <unit id="com.company1c.link.agent.core.feature.feature.group" version="3.0.3"/>
            <unit id="com.company1c.link.agent.dependencies.feature.feature.group" version="1.0.1"/>
            <unit id="com.company1c.link.ide.edt.feature.feature.group" version="3.0.3"/>
            <unit id="com.e1c.dt.check.feature.feature.group" version="0.2.0.116"/>
            <unit id="com.e1c.g5.problemreporting.feature.feature.group" version="0.1.1.v202206171548"/>
            <unit id="com.e1c.g5.v8.dt.bsl.formatter.feature.feature.group" version="1.2.0.v202207271030"/>
            <unit id="com.e1c.g5.v8.dt.bsl.ui.templates.feature.feature.group" version="1.2.0.v202207271030"/>
            <unit id="com.e1c.g5.v8.dt.formatter.feature.feature.group" version="1.2.0.v202207271030"/>
            <unit id="com.e1c.g5.v8.dt.formatter.ui.feature.feature.group" version="1.2.0.v202207271030"/>
            <unit id="com.e1c.g5.v8.dt.gsw.feature.feature.group" version="1.3.0.v202207271030"/>
            <unit id="com.e1c.g5.v8.dt.mw.feature.feature.group" version="1.6.0.v202207271030"/>
            <unit id="com.e1c.ssl.feature.feature.group" version="0.7.0.103"/>
            <unit id="com.e1c.v8codestyle.feature.feature.group" version="0.3.0.118"/>
            <unit id="com.make.chromium.cef.feature.feature.group" version="0.4.0.201908130254"/>
            <unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
            <unit id="openjfx.swt.feature.feature.group" version="11.0.0.201901231300"/>
            <unit id="org.aspectj.feature.group" version="1.9.6.202202111622"/>
            <unit id="org.aspectj.source.feature.group" version="1.9.6.202202111622"/>
            <unit id="org.eclipse.babel.nls_eclipse_ru.feature.group" version="4.18.0.v20210305020001"/>
            <unit id="org.eclipse.babel.nls_modeling.emf_ru.feature.group" version="4.18.0.v20210305020001"/>
            <unit id="org.eclipse.babel.nls_modeling.tmf.xtext_ru.feature.group" version="4.18.0.v20210305020001"/>
            <unit id="org.eclipse.babel.nls_technology.egit_ru.feature.group" version="4.18.0.v20210305020001"/>
            <unit id="org.eclipse.babel.nls_technology.jgit_ru.feature.group" version="4.18.0.v20210305020001"/>
            <unit id="org.eclipse.babel.nls_webtools_ru.feature.group" version="4.18.0.v20210305020001"/>
            <unit id="org.eclipse.draw2d.feature.group" version="3.10.100.201606061308"/>
            <unit id="org.eclipse.draw2d.source.feature.group" version="3.10.100.201606061308"/>
            <unit id="org.eclipse.e4.rcp.feature.group" version="4.23.0.v20220215-2237"/>
            <unit id="org.eclipse.e4.rcp.source.feature.group" version="4.23.0.v20220215-2237"/>
            <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.6.1.v20211005-1944"/>
            <unit id="org.eclipse.ecf.core.feature.source.feature.group" version="1.6.1.v20211005-1944"/>
            <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.501.v20210409-2301"/>
            <unit id="org.eclipse.ecf.core.ssl.feature.source.feature.group" version="1.1.501.v20210409-2301"/>
            <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1800.v20210618-0642"/>
            <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="1.1.500.v20220109-1926"/>
            <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.401.v20210409-2301"/>
            <unit id="org.eclipse.egit.feature.group" version="6.1.0.202202221755-m3"/>
            <unit id="org.eclipse.emf.common.feature.group" version="2.25.0.v20220123-0838"/>
            <unit id="org.eclipse.emf.common.source.feature.group" version="2.25.0.v20220123-0838"/>
            <unit id="org.eclipse.emf.common.ui.feature.group" version="2.18.0.v20211110-0654"/>
            <unit id="org.eclipse.emf.common.ui.source.feature.group" version="2.18.0.v20211110-0654"/>
            <unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.9.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.databinding.edit.source.feature.group" version="1.9.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.databinding.feature.group" version="1.8.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.databinding.source.feature.group" version="1.8.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.15.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.ecore.edit.source.feature.group" version="2.15.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.ecore.editor.feature.group" version="2.18.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.ecore.editor.source.feature.group" version="2.18.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.ecore.feature.group" version="2.27.0.v20220123-0838"/>
            <unit id="org.eclipse.emf.ecore.source.feature.group" version="2.27.0.v20220123-0838"/>
            <unit id="org.eclipse.emf.ecore.xcore.lib.feature.group" version="1.8.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.edit.feature.group" version="2.18.0.v20220201-1551"/>
            <unit id="org.eclipse.emf.edit.source.feature.group" version="2.18.0.v20220201-1551"/>
            <unit id="org.eclipse.emf.edit.ui.feature.group" version="2.22.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.edit.ui.source.feature.group" version="2.22.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="2.15.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.mapping.ecore.editor.source.feature.group" version="2.15.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.mapping.ecore.feature.group" version="2.13.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.mapping.ecore.source.feature.group" version="2.13.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.mapping.feature.group" version="2.14.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.mapping.source.feature.group" version="2.14.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.mapping.ui.feature.group" version="2.14.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.mapping.ui.source.feature.group" version="2.14.0.v20210924-1718"/>
            <unit id="org.eclipse.emf.query.feature.group" version="1.12.0.201805030653"/>
            <unit id="org.eclipse.emf.query.ocl.feature.group" version="1.12.0.201805030653"/>
            <unit id="org.eclipse.emf.query.ocl.source.feature.group" version="1.12.0.201805030653"/>
            <unit id="org.eclipse.emf.query.source.feature.group" version="1.12.0.201805030653"/>
            <unit id="org.eclipse.emf.transaction.feature.group" version="1.12.0.201805140824"/>
            <unit id="org.eclipse.emf.transaction.source.feature.group" version="1.12.0.201805140824"/>
            <unit id="org.eclipse.emf.validation.feature.group" version="1.12.2.202008210805"/>
            <unit id="org.eclipse.emf.validation.ocl.feature.group" version="1.12.2.202008210805"/>
            <unit id="org.eclipse.emf.validation.ocl.source.feature.group" version="1.12.2.202008210805"/>
            <unit id="org.eclipse.emf.validation.source.feature.group" version="1.12.2.202008210805"/>
            <unit id="org.eclipse.emf.workspace.feature.group" version="1.12.0.201805140824"/>
            <unit id="org.eclipse.emf.workspace.source.feature.group" version="1.12.0.201805140824"/>
            <unit id="org.eclipse.equinox.core.feature.feature.group" version="1.13.500.v20220215-2237"/>
            <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.6.1300.v20220215-0840"/>
            <unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="1.6.1300.v20220215-0840"/>
            <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.1100.v20220210-1157"/>
            <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.4.1500.v20220215-0840"/>
            <unit id="org.eclipse.equinox.p2.extras.feature.source.feature.group" version="1.4.1500.v20220215-0840"/>
            <unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.4.1500.v20220215-0840"/>
            <unit id="org.eclipse.equinox.p2.rcp.feature.source.feature.group" version="1.4.1500.v20220215-0840"/>
            <unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.4.1500.v20220215-0840"/>
            <unit id="org.eclipse.equinox.p2.user.ui.source.feature.group" version="2.4.1500.v20220215-0840"/>
            <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.7.0.202010120720"/>
            <unit id="org.eclipse.gef.feature.group" version="3.11.0.201606061308"/>
            <unit id="org.eclipse.gef.source.feature.group" version="3.11.0.201606061308"/>
            <unit id="org.eclipse.gmf.feature.group" version="1.14.1.202202190902"/>
            <unit id="org.eclipse.gmf.runtime.notation.feature.group" version="1.13.0.202004160913"/>
            <unit id="org.eclipse.gmf.runtime.notation.source.feature.group" version="1.13.0.202004160913"/>
            <unit id="org.eclipse.gmf.runtime.thirdparty.feature.group" version="1.14.1.202202190902"/>
            <unit id="org.eclipse.gmf.runtime.thirdparty.source.feature.group" version="1.14.1.202202190902"/>
            <unit id="org.eclipse.gmf.source.feature.group" version="1.14.1.202202190902"/>
            <unit id="org.eclipse.help.feature.group" version="2.3.900.v20220216-1800"/>
            <unit id="org.eclipse.help.source.feature.group" version="2.3.900.v20220216-1800"/>
            <unit id="org.eclipse.jgit.feature.group" version="6.1.0.202202221755-m3"/>
            <unit id="org.eclipse.jgit.gpg.bc.feature.group" version="6.1.0.202202221755-m3"/>
            <unit id="org.eclipse.jgit.http.apache.feature.group" version="6.1.0.202202221755-m3"/>
            <unit id="org.eclipse.jgit.lfs.feature.group" version="6.1.0.202202221755-m3"/>
            <unit id="org.eclipse.jgit.pgm.feature.group" version="6.1.0.202202221755-m3"/>
            <unit id="org.eclipse.jgit.ssh.apache.feature.group" version="6.1.0.202202221755-m3"/>
            <unit id="org.eclipse.jgit.ssh.jsch.feature.group" version="6.1.0.202202221755-m3"/>
            <unit id="org.eclipse.nebula.widgets.datechooser.feature.feature.group" version="1.0.0.201410030017"/>
            <unit id="org.eclipse.nebula.widgets.formattedtext.feature.feature.group" version="1.0.0.201410030017"/>
            <unit id="org.eclipse.nebula.widgets.grid.feature.feature.group" version="1.0.0.201401021803"/>
            <unit id="org.eclipse.ocl.feature.group" version="3.18.0.v20220110-1232"/>
            <unit id="org.eclipse.platform.feature.group" version="4.23.0.v20220216-2015"/>
            <unit id="org.eclipse.platform.source.feature.group" version="4.23.0.v20220216-2015"/>
            <unit id="org.eclipse.rcp.feature.group" version="4.23.0.v20220216-1800"/>
            <unit id="org.eclipse.rcp.source.feature.group" version="4.23.0.v20220216-1800"/>
            <unit id="org.eclipse.sources.feature.group" version="4.11.0.2"/>
            <unit id="org.eclipse.swt.chromium.feature.feature.group" version="0.10.2.201908130308"/>
            <unit id="org.eclipse.userstorage.feature.group" version="1.2.0.v20210517-0327"/>
            <unit id="org.eclipse.wst.server_core.feature.feature.group" version="3.3.900.v202106020138"/>
            <unit id="org.eclipse.wst.server_ui.feature.feature.group" version="3.3.1300.v202201160314"/>
            <unit id="org.eclipse.wst.server_userdoc.feature.feature.group" version="3.3.300.v201901310132"/>
            <unit id="org.eclipse.xsd.edit.feature.group" version="2.14.0.v20210924-1719"/>
            <unit id="org.eclipse.xsd.feature.group" version="2.20.0.v20211216-0527"/>
            <unit id="org.eclipse.xsd.source.feature.group" version="2.20.0.v20211216-0527"/>
            <unit id="org.eclipse.xtext.xbase.lib.feature.group" version="2.26.0.v20220221-1145"/>
        </location>
    </locations>
</target>