<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ru.yanygin.dt.cfbuilder.plugin.ui.buildcf"
            name="%command.BuildCf.name">
      </command>
      <command
            id="ru.yanygin.dt.cfbuilder.plugin.ui.importcf"
            name="%command.ImportCf.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ru.yanygin.dt.cfbuilder.plugin.ui.ExecutableExtensionFactory:ru.yanygin.dt.cfbuilder.plugin.ui.CfBuilderHandler"
            commandId="ru.yanygin.dt.cfbuilder.plugin.ui.buildcf">
      </handler>
      <handler
            class="ru.yanygin.dt.cfbuilder.plugin.ui.ExecutableExtensionFactory:ru.yanygin.dt.cfbuilder.plugin.ui.CfImportHandler"
            commandId="ru.yanygin.dt.cfbuilder.plugin.ui.importcf">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com._1c.g5.v8.dt.navigator.ui.navigator.popup?endof=group.port">
         <command
               commandId="ru.yanygin.dt.cfbuilder.plugin.ui.buildcf"
               icon="icons/cf16.png"
               label="%command.BuildCf.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           operator="or">
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com._1c.g5.v8.dt.navigator.ui.navigator.popup?endof=group.port">
         <command
               commandId="ru.yanygin.dt.cfbuilder.plugin.ui.importcf"
               icon="icons/cf16.png"
               label="%command.ImportCf.name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <count
                           value="0">
                     </count>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com._1c.g5.v8.dt.navigator.ui.navigator.popup?endof=group.port">
         <command
               commandId="ru.yanygin.dt.cfbuilder.plugin.ui.importcf"
               icon="icons/cf16.png"
               label="Импорт (тест)"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <instanceof
                           value="org.eclipse.core.resources.IWorkspaceRoot">
                     </instanceof>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?endof=group.port">
         <command
               commandId="ru.yanygin.dt.cfbuilder.plugin.ui.importcf"
               icon="icons/cf16.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com._1c.g5.v8.dt.navigator.ui.navigator.popup?endof=group.port">
         <command
               commandId="ru.yanygin.dt.cfbuilder.plugin.ui.buildcf"
               icon="icons/cf16.png"
               label="Собрать cf-файл (тест)"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           operator="or">
                        <instanceof
                              value="com._1c.g5.v8.dt.core.platform.IV8Project">
                        </instanceof>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
